.jumbotron {
  padding-top: 6rem;
  background-color: #ff9900;
}

#project {
  background-color: #ff9900;
}

#gallery {
  background-color: #ff9900;
}

.Footer {
  background-color: #ff9900;
}

section {
  padding-top: 5rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.carousel-item {
  height: 670px;
}
.carousel-item img {
  margin-top: -120px;
}
.carousel-contain {
  color: white;
}

.gambar-hd {
  width: 400;
  height: 300;
}
